<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SketchNow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <SketchNow.Properties.Settings>
            <setting name="IsFitToCurve" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsIgnorePressure" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsEraseByStroke" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StrokeSize" serializeAs="String">
                <value>5</value>
            </setting>
        </SketchNow.Properties.Settings>
    </userSettings>
</configuration>